<!--<div class="footer">-->
<!--  <span dmsTranslate="footer">&copy;2021 Bloomberg Data Management Services Limited All rights reserved.</span>-->
<!--  <a href="https://www.bloomberg.com/notices/privacy/?utm_source=bps-footer&utm_medium=bps"-->
<!--     target="_blank" rel="noopener noreferrer"-->
<!--     dmsTranslate="home.link.privacy">-->
<!--    Privacy-->
<!--  </a>-->
<!--</div>-->


<div class="footer_container baseBackground">
  <div class="footer">
    <span class="termsUse"><a href="#">Terms of Use</a></span>
    <span class="copyright">&copy; 2017 - Bloomberg PolarLake</span>
  </div>
</div>
